.Nav_List {
  width: 100%;
  background: #c74feb;
  border-radius: 14px;
  padding: 24px 16px 24px 24px !important;
}

.List,
.Button {
  display: flex;
  align-items: center;
}

.Nav_Link,
.Button {
  width: 100%;
  padding: 15px;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fcddec;
}

.Nav_Link:hover,
.Button:hover {
  cursor: pointer;
  background: #cd61ed;
  border-radius: 4px;
  color: #fff;
}

.Nav_Icon {
  width: 20px;
  height: 20px;
  margin-right: 27px;
}

.Button {
  border: none;
  background: #c74feb;
  margin: 10px 0 40px;
}
