.Keeper {
  display: flex;
  align-items: center;
}
.Keeper_Avatar {
  margin: 0 11px;
}
.Keeper_Avatar img {
  width: 45px;
  border-radius: 50%;
}
.Keeper_Avatar span {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #f5f5f5de;
  margin-left: 5px;
}
