.Navbar {
  background: #27283c;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  margin: 0 18px;
  padding: 10px 20px !important;
  border-radius: 0 0 14px 14px;
}

.Brand img {
  width: 92px;
  height: 32px;
}
