.Box {
  background: #38394e;
  height: auto;
  padding: 28px;
}

.Box p {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #c7c7c7;
  margin-right: 90px;
  width: 240px;
}

.Title {
  display: flex;
  margin-bottom: 35px;
}

.Title h4 {
  font-weight: 500;
  font-size: 25px;
  line-height: 24px;
  color: #c7c7c7;
  margin-left: 10px;
}

.X_button {
  width: 27px;
  height: 27px;
  background: #c74feb;
  border-radius: 50%;
  border: none;
  color: #f2f2f2;
}
