.FormSection {
  margin-right: 60px;
}

.FormSection span {
  color: #f00;
}

.ImageSection {
  display: flex;
  justify-content: space-between;
}

.ImageSection label {
  width: 35vw;
  height: 122px;
  background: #43445a;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ImageSection label {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #c7c7c7;
}

.DataInfoSection {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
.DataFormSection {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 270px;
  overflow: auto;
  background: #43445a;
  border-radius: 14px;
  padding: 22px 29px 36px 23px;
}

.FormGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 26px;
}

.DataFormSection label {
  margin-bottom: 10px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #c7c7c7;
}

.DataFormSection input,
select,
textarea {
  background: #5a5b70;
  border-radius: 14px;
  border: none;
  height: 46px;
  color: #c7c7c7;
  padding-left: 21px;
}

.DataFormSection textarea {
  padding-top: 21px;
  height: 133px;
}

.DataFormSection input::placeholder {
  color: #c7c7c7;
}

.DataFormSection input:hover {
  background: #5a5b70;
  color: #c7c7c7;
}

.Buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  border-top: 1px solid #43445a;
}

.Buttons button {
  width: 400px;
  height: 50px;
  border: 2px solid #38394e;
  box-shadow: 0px 4px 4px rgba(39, 174, 96, 0.2);
  border-radius: 14px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}
