.Container {
  width: 100%;
  margin: 16px 32px 0 20%;
}

.Caption {
  height: 72px;
  background: #27283c;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 41px;
}

.Caption h1 {
  line-height: 21px;
  font-weight: 500;
  font-size: 20px;
  color: #f2f2f2de;
  margin: 8px 33px;
}
