.Container {
  background-color: yellow;
  margin: 16px 16px 20px 0;

  width: 100%;
}
.Caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 73px;
  background: #27283c;
  border-radius: 14px;
}

.Caption h1 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #c7c7c7;
  margin: 20px 33px;
}

.Select_Section {
  position: relative;
}

.Select {
  background: #5a5b70;
  border-radius: 14px;
  border: none;
  width: 200px !important;
  height: 35px !important;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #f2f2f2;
  padding: 0 18px;
  appearance: none;
}

.Icon {
  position: absolute;
  color: #c7c7c7;
  right: 10px;
  font-size: 35px;
}
